section#contact-form{
padding:3%;
color: $white;
	@include span-columns(6);
	@include shift(3);

	@include media($screen-tablet) {

		@include span-columns(10);
			@include shift(1);
            margin-top: 30%;

			//@include centerer;


	}

    @include media($screen-mobile) {

        @include span-columns(11.5);
            @include shift(.25);
            margin-top: 8em;



    }

    @media (max-width: 300px) {
            margin-top: 0;

        padding:0 5% ;


    }

    p{
        font-weight: 200;
    }

    p a{
        font-weight: 400;
    }

   }




input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select[multiple="multiple"] {
    background-color: $black;
    border: 1px solid $white;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) outset;
    box-sizing: border-box;
    font-family: $heading;
    font-size: .75em;
    color: $white;
    margin: 1em auto;
    padding: 1em;
    transition: border-color 150ms ease 0s;
    width: 100%;

 box-shadow:$shadow;


}

 textarea{
        height:100px;

    }





button, input[type="button"], input[type="reset"], input[type="submit"] {
    @include span-columns(4 of 8);
        @include shift(0);

    @include media($screen-tablet){
            @include span-columns(12);
                    @include shift(0);



    }

     box-shadow:$shadow;
    background-color: $yellow;
    border: 1px solid $black;
    border-radius: 3px;
    color: $black;
    cursor: pointer;
    display: inline-block;
    font-family: $heading;
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
    padding: 0.75em 1.5em;
    text-decoration: none;
    transition: background-color 150ms ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}
