<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>{{ page.title }} | OPO </title>
<meta name="description" content="OPO Graphics">
<meta name="author" content="OPO Graphics">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="icon" type="image/png" href="{{ site.url }}/assets/logos/favicon.png">
<link href="/fancybox/dist/jquery.fancybox.css" rel="stylesheet">

<link rel="stylesheet" href="/css/styles.css">

<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link rel="alternate" type="application/rss+xml" title="opo.graphics{{ page.url }}" href="/feed.xml">

<!-- Social Media
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@a_pure_delight">
<meta name="twitter:creator" content="@a_pure_delight">{% if page.title %}
<meta name="twitter:title" content="OPO Graphics | {{ page.title }}">{% else %}
<meta name="twitter:title" content="OPO Graphics | {{ site.title }}"> {% endif %}{% if page.url %}
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">{% endif %}{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">{% else %}
<meta name="twitter:description" content="{{ site.description }}">{% endif %}{% if page.image %}
<meta name="twitter:image:src" content="{{ site.url }}{{ page.image }}">{% else %}
<meta name="twitter:image:src" content="{{ site.url }}/assets/logos/logo.png"> {% endif %}
<meta content="{{ site.title }}" property="og:site_name">{% if page.title %}
<meta content="{{ page.title }}" property="og:title">{% else %}
<meta content="{{ site.title }}" property="og:title"> {% endif %}{% if page.title %}
<meta content="article" property="og:type"> {% else %}
<meta content="website" property="og:type">{% endif %}{% if page.description %}
<meta content="{{ page.description }}" property="og:description"> {% else %}
<meta content="{{ site.description }}" property="og:description">{% endif %}{% if page.url %}
<meta content="{{ site.url }}{{ page.url }}" property="og:url">{% endif %}{% if page.date %}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
<meta content="{{ site.url }}/home/" property="article:author">{% endif %} {% if page.image %}
<meta content="{{ site.url }}{{ page.image }}" property="og:image">{% else %}
<meta content="{{ site.url }}{{ page.image }}" property="og:image">{% endif %}{% if page.categories %}{% for category in page.categories limit:1 %}
<meta content="{{ category }}" property="article:section">{% endfor %}{% endif %}{% if page.tags %}{% for tag in page.tags %}
<meta content="{{ tag }}" property="article:tag">{% endfor %} {% endif %}





{% include javascript.html %}



</head>

<main class="{{page.id}}" style="background: url({{ page.image }}) no-repeat; background-position:bottom;  -webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; 	background-size:  100%;" aria-label="Content">