

<ul id="social-share"> <!-- begin social media -->


<li ><a class="button-social" href="https://twitter.com/{{ site.twitter_username }}" target="blank"><img src="/fonts/icons/twitter.svg" alt="opo on twitter"></a></li>

<li><a class="button-social" href="https://ello.co/{{ site.ello_username }}/" target="blank"><img src="/fonts/icons/ello.svg" alt="opo on ello"></a></li>

<li><a class="button-social" href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" target="blank"><img src="/fonts/icons/linkedin-2.svg" alt="opo on LinkedIn"></a></li>

<li ><a class="button-social" href="https://github.com/{{ site.github_username }}" target="blank"><img src="/fonts/icons/github.svg" alt="opo on GitHub"></a></li>


<li ><a class="button-social" href="https://github.com/{{ site.behance_username }}" target="blank"><img src="/fonts/icons/behance.svg" alt="opo on behance"></a></li>





</ul> <!--  end social media -->