	{% include head.html %}
	{% include header.html %}

	<div id="portfolio" class="grid"> 
	
	<h2>{{page.title}}</h2>
	<section id="portfolio-items" >
	{% for post in site.posts %}


	<a class="grid-item" href="{{ post.image }}" data-fancybox="{{post.slug}}" data-caption="{{post.description}}" 
	style="background-image: url({{post.thumbnail}}); ">




	
	<div class="title">
		
	<ul>	
		
		<li><h5>{{ post.title }}</h5></li>
		<li><h6>{{ post.subtitle }}</h6></li>

		<hr>
		<li class="post-category"><h4>{{ post.category }}</h4></li>

	</ul>
	</div>  <!-- end title -->

	</a>  <!-- end grid-item -->


	{% endfor %}

	</section>  <!--  end portfolio items -->
	</div> <!-- end portfolio  -->


	</main>   
	
	{% include footer.html %}


	
